*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:"poppins",sans-serif;
}
header{
    width: 100%;
    /* background:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.3)); */
    /* background-color: #192123; */
}
.main-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 80px;
    background-color: #fff;
}
header>nav>ul>li{
    list-style-type: none;
    display: inline-block;
    padding: 0px 18px;
}
header>.main-menu>ul>li>a{
    /* color: #140847; */
    color: #333743;
    text-decoration: none;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.428;
}
header>.main-menu>ul>li::after{
    content: "";
    width: 0%;
    height: 2px;
    /* background-color: #f47c00; */
    background-color: #ff1247;
    display: block;
    transition: all 0.5s ease;

}
header>.main-menu>ul>li:hover::after{
    width: 100%;
}

header>.main-menu img{
  height: 50px;
}

.sub-menu{
    /* position: relative; */
    display: flex;
    justify-content: center;
    z-index: ;
    margin: 0px;
}

.sub-menu>ul{
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 6px 0px;
    width: 100%;
    justify-content: center;
    transform: translateY(-0.4rem);
    text-align: center;
}

.sub-menu>ul>li{
    padding: 2px 32px;
}

.sub-menu>ul>li a{
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease;
}

.sub-menu>ul>li a:hover{
    color: #ff1247;
    text-decoration: underline;
}

.thumbnail-slider{
    position: relative;
<<<<<<< HEAD

}
.card{
    box-shadow: ;
}
=======
    width: 100%;
    transform: translateY(-2.5rem);
}

main{

}
>>>>>>> 62c4d733739cf9589e4076cbad0c409d95b05d27
